.edit {
    text-align: center;
    margin-top: 20vh;

    .edit-header {
        font-size: 50px;
        font-weight: 300;
    }

    .edit-form {
        margin-left: auto;
        margin-right: auto;
        width: 300px;

        .title-input,
        .year-input,
        .genre-input,
        .rating-input {
            margin-top: 20px;

            p {
                color: #f44336;
                margin-top: 4px;
                font-size: 14px;
                text-align: left;
            }

            p:empty {
                height: 18px;
            }
        }

        .genre-input {
            text-align: left;
        }

        .add-form-buttons {
            margin-top: 20px;

            button:nth-child(1) {
                margin-right: 10px;
            }

            a {
                margin-left: 10px;
            }
        }
    }
}